<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <title>Document</title>
</head>

<body>
  <%- include('partials/header', { title: 'Dashboard' , user }) %>

    <section>
      <h2>Bảng điều khiển</h2>
      <p>Chào <strong>
          <%= user.SDT %>
        </strong> (role: <strong>
          <%= user.role %>
        </strong>)</p>
      <p>Chọn mục ở menu để quản trị.</p>
    </section>

    <%- include('partials/footer') %>
</body>

</html>